{% extends 'base.html' %}

{% block title %}
<title>Добавление статьи</title>
{% endblock %}

{% block main %}
<div class="container">
    <h1>Share your thoughts</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите заголовок"><br>
        <input type="text" class="form-control" name="body" id="body" placeholder="Введите текст"><br>
        <button class="btn btn-success btn-peri" type="submit">Submit</button>
    </form>
</div>
{% endblock %}