{% extends 'base.html' %}

{% block title %}
<title>Добавление статьи</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Добавление</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите название"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <button class="btn btn-success" type="submit">Добавить</button>
    </form>
</div>
{% endblock %}